.demo2 {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      background: red;
      height: 20px;
      width: 200px;
      margin: 10px 0;

      &.example-enter{
        opacity: 0.01;
        transition: opacity .5s ease-in;

        &.example-enter-active {
          opacity: 1;
        }
      }

      &.example-leave {
        opacity: 1;
        transition: opacity .5s ease-in;

        &.example-leave-active {
          opacity: 0.01;
        }
      }
    }
  }
}